div#login, #signup,#events{
    margin-left: 210px;
}

div #home, #about,#user,#footer,#clubs,#resources{
  margin-left: 190px;
}

@media only screen and (max-width: 600px) {
    div#home,#login, #signup,#events,#clubs,#resources,#about,#user,#footer{
      margin-left: 0;
    }

  }
