div  #signup,#events,#login{
    margin-left: 210px;
}

div #home, #about,#user,#footer,#clubs,#resources{
  margin-left: 190px;
}

@media only screen and (max-width: 600px) {
    div#home,#events,#clubs,#resources,#about,#user,#footer{
      margin-left: 0;
    }

  }

@media only screen and (max-width:600px) {
  div#login,div#signup{
    margin-left: 0;
  }

}