.top-nav {
  background-color: #2a363b;
}

/* .sidebar {
  background-color: teal;
  color: white;
} */

/* .btn_1 {
  margin-left: 10px;
  background-color: teal;
} */

.title {
  color: white;
  text-decoration: none;
  text-align: center;
}

.nav-btn {
  margin-left: "auto";
}
